{% extends "base.html" %} {% block title %}All Routes - Sodeom{% endblock %} {%
block head_extra %}
<meta name="robots" content="noindex" />
{% endblock %} {% block content %}
<div class="content-card">
  <h1 class="page-title">All Flask Routes</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Path</th>
        <th>Methods</th>
      </tr>
    </thead>
    <tbody>
      {% for url, methods in links %}
      <tr>
        <td><a href="{{ url }}">{{ url }}</a></td>
        <td>{{ methods }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
