<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Sodi - Innovating the Future{% endblock %}</title>

  <link rel="icon" href="/favicon.ico" />
  <!-- Link to your CSS file -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
  <!-- Header -->
  <header>
    <div class="container header-container">
      <h1 class="company-name"><a href="/">Sodi</a></h1>
      <nav>
        <ul>
          <li><a href=/>Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <!-- Main Content -->
  {% block content %}
  {% endblock %}

  <!-- Footer -->
  <footer>
    <div class="container">
      <p>&copy; 2025 Sodi. All Rights Reserved.</p>
    </div>
  </footer>
</body>
</html>