{% extends "base.html" %}

{% block title %}Sodi Fun - Innovating the Future{% endblock %}

{% block content %}
<!-- Services Hero Section -->
<section class="services-hero">
  <div class="container">
    <h1>Just Fun</h1>
    <p>Get Your Fun At Here.</p>
  </div>
</section>

<!-- Services Content Section -->
<section class="services-content">
  <div class="container grid-container">

    <!-- Service Portion for Game Development -->
    <div class="service-card">
      <h2>Sodium Fun ART</h2>
      <p>Convert Images into Emojis ART.</p>
      <a href="https://art.sodeom.com/" class="btn service-btn">Visit</a>
    </div>

    <!-- Service Portion for Game Development -->
    <div class="service-card">
      <h2>Sodium Image 2 SVG</h2>
      <p>Convert Images into SVGs.</p>
      <a href="https://image2svg.sodeom.com/" class="btn service-btn">Visit</a>
    </div>

        <!-- Service Portion for Game Development -->
    <div class="service-card">
      <h2>The Crawled Internet.</h2>
      <p>The Internet That We Are Crawling for the next gen AI. Use These Files To Feed Your AI Fine-Tuning is now easy.</p>
      <a href="https://crawled.sodeom.com/" class="btn service-btn">Visit</a>
    </div>

    <div class="service-card">
      <h2>Fake sha25.</h2>
      <p>A simple fake sha256 only made with a simple formula.</p>
      <a href="https://sodeom.com/fake-sha256" class="btn service-btn">Visit</a>
    </div>

    <div class="service-card">
      <h2>text to imposter</h2>
      <p>It converts text in to thier imposters.</p>
      <a href="https://character-to-imposter.sodeom.com/" class="btn service-btn">Visit</a>
    </div>

    <div class="service-card">
      <h2>Emoji List</h2>
      <p>A list of all UTF-8's</p>
      <a href="https://emojis-collection.sodeom.com/" class="btn service-btn">Visit</a>
    </div>

    <div class="service-card">
      <h2>Game List</h2>
      <p>A list of about 500 games</p>
      <a href="http://game-list.sodeom.com/" class="btn service-btn">Visit</a>
    </div>

  </div>
</section>
{% endblock %}